// Заголовки, загальні БЕМ блоки та інше...

.text {
  font-family: Helvetica;
  @include adaptiveValue("font-size", 18, 17);
  font-weight: 400;
  line-height: 150%; /* 150% */
  &_white {
    color: #fff;
  }

  p {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 15);
    }
  }
}

.title {
  color: #3c3b3b;
  font-family: Helvetica;
  @include adaptiveValue("font-size", 50, 34);
  font-weight: 400;
  line-height: 106%; /* 106% */
}

.text-2 {
  color: #3c3b3b;
  font-family: Helvetica;
  @include adaptiveValue("font-size", 24, 20);
  font-weight: 400;
  line-height: 150%; /* 150% */
}

.text-3 {
  color: #3c3b3b;
  font-family: Helvetica;
  @include adaptiveValue("font-size", 36, 24);
  font-weight: 400;
  line-height: 120%; /* 43.2px */
}

//========================================================================================================================================================

.top-block {
  display: flex;
  align-items: flex-end;
  @include adaptiveValue("column-gap", 80, 50, 0, 1230, 991);
  @include adaptiveValue("column-gap", 50, 30, 1, 991, 375);
  @include adaptiveValue("row-gap", 30, 20);
  &__link {
  }
}

//========================================================================================================================================================

.scrollbar {
  height: toRem(10);
  background-color: rgba(60, 59, 59, 0.3);

  &__drag {
    position: relative;
    height: 100%;
    background-color: #3c3b3b;
    cursor: grab;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: calc(100% + toRem(10));
      top: toRem(-5);
    }
  }
}

//========================================================================================================================================================

.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(158, 157, 157, 0.2);

  &::before {
    content: "";
    background-image: var(--load);
    background-repeat: no-repeat;
    background-size: toRem(80);
    background-position: center;
    display: block;
    width: toRem(80);
    height: toRem(80);
    animation: loader 1s linear infinite;
  }
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

//========================================================================================================================================================

.link {
  color: #000;
  font-family: Helvetica;
  @include adaptiveValue("font-size", 24, 20);
  font-weight: 400;
  line-height: 150%; /* 150% */

  display: flex;
  align-items: center;
  column-gap: toRem(10);

  transition: all 0.3s ease 0s;
  &::after {
    content: "\e900";
    @extend %ic;
    font-size: toRem(12);
    transform: translateY(toRem(4));
    transition: transform 0.3s ease 0s;
  }

  @media (any-hover: hover) {
    &:hover {
      color: #3f7619;

      &::after {
        transform: rotate(47deg) translateY(toRem(4));
      }
    }
  }
}

//========================================================================================================================================================
