//====================================================================================================
.hero {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;

    pointer-events: none;

    @media (min-width: $mobile) {
      display: none;
    }
  }

  &__circle {
    @media (min-width: $mobile) {
      position: absolute;
      @include adaptiveValue("width", 766, 370, 0, 1230, 767);
      @include adaptiveValue("height", 766, 370, 0, 1230, 767);
      top: percent(66, 900);
      right: percent(200, 1600);
      border-radius: 50%;
      border: toRem(1) solid #fff;

      pointer-events: none;
    }
  }

  &__container {
  }

  &__body {
    @include adaptiveValue("padding-top", 225, 125);
    @include adaptiveValue("padding-bottom", 86, 55);
    position: relative;
    z-index: 2;
    min-height: toRem(900);
    @media (max-width: $mobile) {
      min-height: 100svh;
    }
  }

  &__title {
    color: #fff;
    font-family: Helvetica;
    @include adaptiveValue("font-size", 120, 40);
    font-weight: 300;
    line-height: 106%; /* 106% */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 25);
    }
  }

  &__text {
    max-width: toRem(575);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 40);
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(20);

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: toRem(10);
    }
  }

  &__button {
    column-gap: toRem(50);
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: -1;
    pointer-events: none;

    img {
      object-position: right;
    }
  }
}

//====================================================================================================

.head-physician {
  @include adaptiveValue("padding-top", 190, 60);
  @include adaptiveValue("padding-bottom", 95, 40);
  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 40);
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("gap", 50, 30, 0, 1230, 991);

    @media (max-width: $tablet) {
      grid-template-columns: 4fr 6fr;
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__image-ibg {
    height: fit-content;
    padding-bottom: percent(754, 574);

    @media (min-width: $mobile) {
      position: sticky;
      top: toRem(20);
    }
  }

  &__contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    @include adaptiveValue("font-size", 55, 30);
    line-height: 123.345%; /* 123.345% */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }

  &__header {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }

  &__text {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 40);
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(20);
  }
  &__button {
    flex: 1 1 auto;
  }

  &__numbers {
    @include adaptiveValue("margin-top", 90, 50);
  }
}

.numbers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
  border-top: toRem(1) solid #3f7619;
  border-left: toRem(1) solid #3f7619;
  &__item {
    padding-bottom: toRem(45);
    @include adaptiveValue("padding-left", 20, 15);
    @include adaptiveValue("padding-right", 20, 15);
    @include adaptiveValue("padding-top", 120, 35, 0, 1230, 767);
    border-right: toRem(1) solid #3f7619;
    border-bottom: toRem(1) solid #3f7619;

    @media (max-width: $mobile) {
      padding-bottom: toRem(35);
    }
  }

  &__item-num {
    color: #3f7619;
    text-align: center;
    @include adaptiveValue("font-size", 86, 56);
    line-height: 118.326%; /* 118.326% */
  }

  &__item-text {
    text-align: center;
    font-size: toRem(18);
    line-height: 150%; /* 27px */
  }
}

//========================================================================================================================================================

.services {
  @include adaptiveValue("padding-top", 95, 40);
  @include adaptiveValue("padding-bottom", 95, 40);
  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 40);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(380), 1fr));
    @include adaptiveValue("column-gap", 50, 30, 0, 1230, 991);
    row-gap: toRem(30);

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
  }
}

.item-services {
  position: relative;
  overflow: hidden;

  @media (any-hover: hover) {
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  &__title {
    position: absolute;
    @include adaptiveValue("left", 40, 20);
    @include adaptiveValue("padding-right", 40, 20);
    @include adaptiveValue("bottom", 50, 30);
    z-index: 2;
  }

  &__title-link {
    position: relative;
    color: #fff;
    @include adaptiveValue("font-size", 24, 22);
    line-height: 150%; /* 150% */

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    column-gap: toRem(10);
    transition: all 0.3s ease 0s;
    &::before {
      font-size: toRem(12);
      transition: transform 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #3f7619;

        &::before {
          transform: translate(-2px, 2px);
        }
      }
    }
  }

  &__image-ibg {
    display: block;
    padding-bottom: percent(500, 575);
    z-index: 1;

    img {
      transition: transform 0.3s ease-in-out 0s;
    }
  }
}

//========================================================================================================================================================

.reviews-block {
  @include adaptiveValue("padding-top", 95, 40);
  @include adaptiveValue("padding-bottom", 95, 40);
  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 40);
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("gap", 50, 30, 0, 1230, 991);
    @include adaptiveValue("gap", 30, 10, 1, 991, 375);
  }

  &__image-ibg--contain {
    padding-bottom: percent(800, 575);
  }

  &__button {
    align-items: flex-end;
    padding-right: toRem(10);
    padding-left: toRem(10);
    @media (min-width: $mobile) {
      padding-bottom: toRem(50);
      padding-right: toRem(40);
      padding-left: toRem(40);
    }

    &::after {
      margin-top: 0;
      margin-bottom: toRem(5);
    }
  }
}

//========================================================================================================================================================

.doctors {
  @include adaptiveValue("padding-top", 95, 40);
  @include adaptiveValue("padding-bottom", 95, 40);
  &__title {
  }
  &__container {
  }

  &__top {
    @include adaptiveValue("margin-bottom", 60, 40);

    @media (max-width: $mobile) {
      justify-content: space-between;
    }
  }

  &__title {
  }

  &__body {
    display: grid;
    grid-template-columns: calc(20% - toRem(15)) 80%;
    gap: toRem(20);

    @media (max-width: $pc) {
      grid-template-columns: calc(25% - toRem(15)) 75%;
    }
    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__wrap {
    @media (min-width: $tablet) {
      padding-bottom: percent(292, 224);
      height: fit-content;
      position: relative;
      z-index: 2;
    }
  }

  &__text {
    border: toRem(1) solid #3f7619;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: toRem(20) toRem(11);

    font-size: toRem(15);
    line-height: 140%; /* 140% */

    @media (min-width: $tablet) {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  &__slider {
    position: relative;
    min-width: 0;
    height: fit-content;

    @media (min-width: $mobile) {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 100%;
        background-color: #fff;
        z-index: 1;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        .doctors__scrollbar {
          opacity: 1;
        }
      }
    }
  }

  &__wrapper {
  }

  &__slide {
  }

  &__scrollbar {
    margin-top: toRem(10);
    @media (any-hover: hover) {
      opacity: 0;
      margin-top: toRem(15);
    }
  }
}

.slide-doctors {
  display: flex;
  flex-direction: column;

  &__image-ibg {
    position: relative;
    overflow: hidden;
    display: block;
    padding-bottom: percent(292, 224);
    margin-bottom: toRem(10);

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    img {
      transition: all 0.3s ease 0s;
    }
  }

  &__title {
    flex: 1 1 auto;
    @include adaptiveValue("font-size", 18, 16);
    line-height: 150%; /* 27px */

    transition: all 0.3s ease-in-out 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #3f7619;
      }
    }
  }

  &__post {
    color: #9e9d9d;
    font-size: 10px;
    line-height: 140%; /* 14px */
  }
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

//========================================================================================================================================================
//========================================================================================================================================================
